$background: #29292E;
$primary: #eba417;
$lightPrimary: #f3c25f;
$darkPrimary: #5a3c00;
$error: #ff8989;
$white: #ffffff;
$gray: #808080;
$black: #000000;

$fontFamily: 'Roboto', sans-serif;

$marginBottom: 16rem;
$marginBottomMobile: 8rem;